<div class="bg  blue darken-4">
    <div class="row">
        <div class="col s12">
            <h1 class="center-align">
                <span><i class="material-icons medium">fiber_smart_record</i></span>
                SEMOTI
            </h1>
        </div>
        <div class="container">
            <form ngForm name="form" #form="ngForm" action="">
                <div class="row">
                    <div class="input-field col s12 ">
                        <input required maxlength="10" ngModel name="usuario" #usuario="ngModel" id="usuario" type="text" class="validate" />
                        <label for="usuario">Usuario</label>
                    </div>
                    <div class="input-field col s12 ">
                        <input required maxlength="10" ngModel name="contrasena" #contrasena="ngModel" id="contrasena" type="password" class="validate" />
                        <label for="contrasena">Contrasena</label>
                    </div>
                    <div class="input-field col l6 s12  ">
                        <button (click)="IniciarSesion(form)" class="btn waves-effect waves-light green" type="button" name="action">
                            Iniciar Sesión
                        </button>
                    </div>
                    <div class="input-field col l6 s12  ">
                        <a class="btn waves-effect waves-light orange darken-3" routerLink="/Registrarse" name="action">
                            Registrarse
                        </a>
                    </div>
                    <div class="input-field col l6 s12  ">
                        <a class="btn waves-effect waves-light blue darken-3" (click)="Facebook()" name="action">
                            FACEBOOK
                        </a>
                    </div>
                    <div class="input-field col l6 s12  ">
                        <a class="btn waves-effect waves-light red darken-3" (click)="Google()" name="action">
                            GOOGLE
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

