<div class="bg  blue darken-4">
        <div class="navbar-fixed">
<nav>
    <div class="nav-wrapper blue darken-3">
      <a routerLink="/Principal" class="brand-logo">
            <span><i class="material-icons medium">fiber_smart_record</i></span>
            SEMOTI
           
        </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/Principal">Noticias</a></li>
        <li><a routerLink="/Busqueda">Búsqueda de Noticias</a></li>
        <li><a href="{{url}}" target="_blank">Vista en Grafo</a></li>
        <li><a (click)="CerrarSesion()">Cerrar Sesion</a></li>
        
      </ul>
    </div>
  </nav>
 

  <ul class="sidenav " id="mobile-demo">
    <li><a routerLink="/Principal">Noticias</a></li>
    <li><a routerLink="/Busqueda">Búsqueda de Noticias</a></li>
    <li><a href="{{url}}" target="_blank">Vista en Grafo</a></li>
    
  </ul>
  </div>
</div>